{% extends "base.html" %}
{% load static %}

{% block content %}

{% if profile %}
    <div class="containter text-center">
        <div class="row">
            
            <div class="col-8">
                <h1> {{profile.user.username}}'s Profile</h1>
                <br>
                {% if feeks %}
                    {% for feek in feeks %}
                        <div class="alert alert-dark" role="alert">
                            <div class="container">
                                <div class="row">
                                    <div class="col-1">
                                        {% if profile.profile_image %}
                                            <img src="{{ profile.profile_image.url}}" class='rounded-circle' width=50 height=50 alt="{{profile.user.username}}">
                                        {% else %}
                                            <img src="{% static '/img/profile_default.png' %}" class='rounded-circle' width=50 height=50 alt="{{profile.user.username}}">
                                        {% endif %}
                                    </div>
                                    <div class="col-11">
                                        {{ feek.body }}
                                        <br>
                                        <small class="text-muted">
                                            {{feek.created_at}} by @{{feek.user.username}}&nbsp;&nbsp;{{feek.number_of_likes}}
                                            {% if user in feek.likes.all %}
                                                <a href="{% url "feek_like"  feek.id%}"><i class= 'fa-solid fa-heart' style='color:red'></i></a>
                                            {% else %}
                                                <a href="{% url "feek_like"  feek.id%}"><i class= 'fa fa-heart-o' style='color:red'></i></a>
                                            {% endif %}
                                            &nbsp;
                                            <a href="{% url "feek_show"  feek.id%}"><i class= 'fa fa-share' style='color:grey'></i></a>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <br><br>
                    {% endfor %}
                {% endif %}
            </div>
            
            
            <div class="col-4">
                {% if profile.profile_image %}
                    <img src="{{ profile.profile_image.url }}" class='rounded-circle' width=200 height=200>
                {% else %}
                    <img src="{% static "/img/profile_default.png" %}" class='rounded-circle' width=200 height=200>
                {% endif %}

                <!-- mostrar los links si tiene  -->
                <br><br>
                {% if profile.personal_link %}
                    <a href="{{ profile.personal_link }}" target='new'><i class="fa-solid fa-link fa-lg" style='color:grey'></i></a>
                {% endif %}
                &nbsp;
                {% if profile.facebook_link %}
                    <a href="{{ profile.facebook_link }}" target='new'><i class="fa-brands fa-facebook-f fa-lg" style='color:grey'></i></a>
                {% endif %}
                &nbsp;
                {% if profile.instagram_link %}
                    <a href="{{ profile.instagram_link }}" target='new'><i class="fa-brands fa-instagram fa-lg" style='color:grey'></i></a>
                {% endif %}
                &nbsp;
                {% if profile.linkedin_link %}
                    <a href="{{ profile.linkedin_link }}" target='new'><i class="fa-brands fa-linkedin fa-lg" style='color:grey'></i></a>
                {% endif %}
                
                <br><br>
                {% if profile.profile_bio %}
                    <p align='justify'>
                        {{ profile.profile_bio }}
                    </p>
                {% endif %}

                <br>
                <div class="card">
                    <div class="card-header">
                        <strong>Follows</strong>
                    </div>
                    <div class="card-body">
                        {% for following in profile.follows.all %}

                            {% if profile.id != following.user.id %}

                                <a href="{% url "profile" following.user.id %}"><img src="{{ following.user.profile.profile_image.url}}" class='rounded-circle' width=30>&nbsp;@{{ following }}</a>&nbsp;
                                
                                {% if profile.id == request.user.id %}
                                    
                                    <a href={% url "unfollow" following.user.id %}><i class="fa-solid fa-trash" style='color:grey;'></i></a>

                                {% endif %}

                                <br>

                            {% endif %}

                        {% endfor %}
                    </div>
                    <div class="card-footer text-muted text-end">
                        <a href="{% url "following" request.user.id %}" class="btn btn-sm btn-outline-secondary" >See All...</a>
                    </div>
                  </div>
                <br>
                <div class="card">
                    <div class="card-header">
                        <strong>Followed by</strong>
                    </div>
                    <div class="card-body">
                        {% for following in profile.follow_by.all|slice:3 %}

                            {% if profile.id != following.user.id %}

                                <a href="{% url "profile" following.user.id %}"><img src="{{ following.user.profile.profile_image.url}}" class='rounded-circle' width=30>&nbsp;@{{ following }}</a>
                                    
                                    {% if request.user.id == profile.user.id %}

                                            {% if following in profile.follows.all %}

                                                <a href={% url "unfollow" following.user.id %}><i class="fa-solid fa-trash" style='color:grey;'></i></a>
                                                <br>

                                            {% else %}

                                                <a href={% url "follow" following.user.id %}><i class="fa-solid fa-user-plus" style='color:grey;'></i></a>
                                                <br>
                                            {% endif %}
                                    {% else %}
                                        <br>
                                    {% endif %}

                            {% endif %}

                        {% endfor %}
                    </div>
                    <div class="card-footer text-muted text-end">
                        <a href="{% url "followers" request.user.id %}" class="btn btn-sm btn-outline-secondary" >See All...</a>
                    </div>
                </div>
            <br>

            <form method=POST>
                {% csrf_token %}
                
                {% if user.profile != profile %}

                    {% if profile in user.profile.follows.all %}

                        <button class="btn btn-outline-danger" name='follow' value='unfollow' type='submit'>
                            Unfollow @{{ profile.user.username }}
                        </button> 

                    {% else %}
                    
                        <button class="btn btn-outline-success" name='follow' value='follow' type='submit'>
                            Follow @{{ profile.user.username }}
                        </button> 

                    {% endif %}

                {% endif %}
                
            </form>
            <br>
            <!--Check for correct user to update-->
            {% if request.user.id == profile.user.id %}
                <a href="{% url "update_user" %}" class= 'btn btn-outline-secondary'>Update profile</a>
            {% endif %}
            </div>
        </div>
    </div>
    
    
   
{% endif %}

{% endblock content %}