{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="container">
        <form method='POST'>
            {% csrf_token %}
            <input type="text" class='form-control' name='feek_search' placeholder='Search for something...'>
            <br>
            <button type='submit' class='btn btn-secondary'>Search</button>
        </form>
    
        {% if searched %}
    
            {% if feeks %}
    
                <p>You Searched for: {{ searched }}</p>
                {% for feek in feeks %}
                    <div class="alert alert-dark" role="alert">
                        <div class="container">
                            <div class="row">
                                <div class="col-1">
                                    {% if feek.user.profile.profile_image %}
                                        <img src="{{feek.user.profile.profile_image.url}}" class='rounded-circle' width=50 height=50 alt="{{feek.user.username}}">
                                    {% else %}
                                        <img src="{% static '/img/profile_default.png' %}" class='rounded-circle' width=50 height=50 alt="{{profile.user.username}}">
                                    {% endif %}
                                </div>
                                <div class="col-11">
                                    {{ feek.body }}
                                    <br>
                                    <small class="text-muted">
                                        {{feek.created_at}} By @{{feek.user.username}}&nbsp;&nbsp;{{feek.number_of_likes}}
                                        {% if user in feek.likes.all %}
                                            <a href="{% url "feek_like"  feek.id %}"><i class= 'fa-solid fa-heart' style='color:red'></i></a>
                                        {% else %}
                                            <a href="{% url "feek_like"  feek.id %}"><i class= 'fa fa-heart-o' style='color:red'></i></a>
                                        {% endif %}
                                        &nbsp;
                                        <a href="{% url "feek_show"  feek.id %}"><i class= 'fa fa-share' style='color:grey'></i></a>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <br><br>
                {% endfor %}
    
            {% else %}
    
                <p>You'r search for {{searched}} has 0 matches.</p>
            {% endif %}
    
        {% endif %}
    </section>
    

{% endblock content %}